@import "../../../sass/abstracts/mixins";

.portfolio {
    height: auto;
    //margin-bottom: 80px;
    margin: 0 auto 80px auto;

    &__title{
        @include sectionTitle;
    }

    &__category{
        font-size: 14px;
        font-weight: 800;
        width: 100%;
        margin-bottom: 20px;
        color: #C8C8C8;
        word-spacing: 5px;
        
        &__items {
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;   
        }
        &__item {
            display: inline-block;
            padding: 0 10px 10px 10px;
            margin-left: 15px;
            cursor: pointer;

            &:active, &:hover {
                color: #202020;
            }
        }
        &__active {
            color: #202020;
        }
    }
    &__list {
        width: 100%;
        display: flex;
        justify-content: center;

        &__items{
            list-style: none;
            width: 100%;
            //position: relative;
            //display: flex;
            //flex-wrap: wrap;
            //justify-content: center;
        }
        &__item{
            display: inline-block;
            width: 340px;
            height: 300px;
            transform: scale(1);
            transition: all 0.3s ease-in-out;
            margin: 0 10px 0px 10px;

            // &:not(:last-child) {
            //     margin-right: 20px;
            // }

            &__hide {
                transform: scale(0);
                position: absolute;
                top: 0;
                left: 0;
                //transform: translateX(-100%);
            }
        }
    }
}
.Row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center; 

    // @include respond(phone) { 
    //     justify-content: flex-start; 
    // }
}