@import "../../../sass/abstracts/mixins";

.About {
    height: 600px;
    width: 100%;
    font-size: 2rem;

    &__title {
        @include sectionTitle;
    }
    &__content {
        display: flex;
        justify-content: center;
    }
    &__left{
        width: 45%;
        min-width: 300px;
        //background-color: #f0f0f0;
        position: relative;
    }
    &__right{
        width: 45%;
        min-width: 300px;
    }
    &__photo{
        width: 410px;
        height: 370px;
        background-image: url("../../../images/work.jpg");
        background-repeat: none;
        background-size: cover;
        background-position: center;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    &__description{
        font-family: Poppins, Arial, sans-serif;
        padding: 10px 25px;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #797979;
        font-weight: 400;
        & p {
            margin-bottom: 28px;
        }
    }
}