.card {
    min-width: 360px;
    height: 300px;
    background: #fff;
    box-shadow: 0 0 2px 2px #eee;
    margin: 10px 10px;
    padding: 45px 25px;
    display: inline-block;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    
    &:hover {
         transform: translateY(-8px);
         box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.2);
         
         .card__iconsrc {
            & svg {
                stroke: #fff;
                fill: #fff;
            }
         }
         .card__iconmask {
            background: #000;
            transform: scale(1);
            opacity: 1;
         }
    }
    &__icon {
        margin: 20px auto;
        width: 80px;
        height: 80px;
        position: relative;
    }

    &__iconsrc {
        z-index: 100;
        position: absolute;
        top:0;
        left: 0;
        width: 80px;
        height: 80px;

        & svg {
            display: inline-block;
            width: 38px;
            height: 38px;
            stroke-width: 0;
            stroke: #000;
            fill: #000;
            margin-top: 20px;
        }
    }

    &__iconmain {
        background: #eee;
        position: absolute;
        top:0;
        left: 0;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    &__iconmask {
        position: absolute;
        top:0;
        left: 0;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        transform: scale(.1);
        transition: transform 0.3s ease-in, opacity 0.25s ease-in 0.1s;  
        opacity: 0;
        z-index: 50;
        background: #000;
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    &__description {
        font-size: 14px;
        font-weight: 500;
        color: #797979;
        width: 300px;
    }
}

 