@import "../../../sass/abstracts/mixins";

.Skills {
    height: auto;
    width: 100%;
    background-color: #f0f0f0;
    padding-bottom: 60px;

    &__title {
        @include sectionTitle;
    }

    &__list{
        text-align: center;    
    }
}
.Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    
}

